.button-content {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 30px;
  user-select: none;
  cursor: pointer;
  width: 25px;
}

.button-content-item {
  font-size: 1.5rem;
  cursor: pointer;
}
