<p-button
  [style]="{ fontSize: '1.2rem', with: '100%' }"
  [routerLink]="[navigationRoute]"
  routerLinkActive="router-link-active"
  [raised]="true"
  [plain]="true"
>
  <div
    [style]="{ fontSize: '1.2rem', with: '100%' }"
    [@expandCollapse]="isLabelShown ? 'expand' : 'collapse'"
    class="button-content"
  >
    <span [style]="{ fontSize: '1.2rem', with: '100%' }" class="button-content-item" [ngClass]="icon"></span>
    <label [style]="{ fontSize: '1.2rem', with: '100%' }" class="button-content-item">{{ label }}</label>
  </div>
</p-button>
