<p-scroll-panel styleClass="h-126 -my-5">
  <p-panel styleClass="min-h-110">
    @switch (isLoadingSignal()) {
      @case (true) {
        <div class="flex flex-col w-100 items-center justify-center">
          <p-progressSpinner/>
        </div>
      }
      @case (false) {
        <p-data-view #dv
                     [value]="mailingSendersSignal()"
                     [emptyMessage]="'Пока нет никаких провайдеров.'">
          <ng-template #list let-items>
            <div class="grid grid-cols-12 gap-4 p-5">
              <div class="col-span-12" *ngFor="let item of items">

                <app-admin-mailing-service-item-list [sender]="item"
                                                     (pingClicked)="pingClicked.emit($event)"
                                                     (priorityUpClicked)="priorityUpClicked.emit($event)"
                                                     (priorityDownClicked)="priorityDownClicked.emit($event)"
                                                     (turnClicked)="turnClicked.emit(($event))"
                                                     (removeClicked)="removeClicked.emit($event)"
                />

              </div>
            </div>
          </ng-template>
        </p-data-view>
      }
    }
  </p-panel>
</p-scroll-panel>
