<p-dialog
  [visible]="visibility"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [baseZIndex]="10000"
  [contentStyle]="{ 'max-width': '100%', 'width': '100%' }"
  styleClass="custom-dialog rounded-lg shadow-lg max-w-md w-full mx-auto"
  [showHeader]="false">
  <div class="p-4 sm:p-6 w-full">
    <div class="flex justify-between items-center border-b border-gray-200 pb-3 sm:pb-4 mb-4">
      <h5 class="text-lg sm:text-xl font-semibold text-gray-800">Изменение навигации</h5>
      <button
        class="text-gray-500 hover:text-gray-700 focus:outline-none p-1"
        (click)="closeDialog()">
        <i class="pi pi-times text-base sm:text-lg"></i>
      </button>
    </div>
    <div class="space-y-3 sm:space-y-4 mb-4 sm:mb-6">
      <p-select
        [size]="'small'"
        [placeholder]="'Тип техники'"
        [ngModel]="currentKind"
        [optionLabel]="'name'"
        [options]="kinds"
        (onChange)="kindChanged($event)"
        styleClass="w-full min-w-[200px] sm:min-w-full"/>
      <p-select
        [size]="'small'"
        [placeholder]="'Марка'"
        [ngModel]="currentBrand"
        [optionLabel]="'name'"
        [options]="brands"
        (onChange)="brandChanged($event)"
        styleClass="w-full min-w-[200px] sm:min-w-full"/>
    </div>
    <p-button
      (onClick)="confirmChange()"
      [size]="'small'"
      [label]="'Применить'"
      styleClass="w-full bg-blue-600 hover:bg-blue-700 border-blue-600"/>
  </div>
</p-dialog>
