<section class="flex flex-col gap-1 my-25! justify-center items-center">

  <label class="text-2xl select-none font-bold">Преимущества нашего агрегатора:</label>

  <div class="flex flex-row gap-1 my-5">

    <p-card>

      <ng-template #title>

        <div class="p-5">

          <i class="pi pi-chart-bar" style="font-size: 2rem"></i>

        </div>

      </ng-template>

      <div class="flex flex-col gap-2">

        <label class="text-lg font-bold">Широкий выбор техники</label>

        <label class="text-lg max-w-150">Доступ к большинству количеству предложений лесозаготовительной техники по всей
          стране</label>

      </div>

    </p-card>

    <p-card>

      <ng-template #title>

        <div class="p-5">

          <i class="pi pi-check-circle" style="font-size: 2rem"></i>

        </div>

      </ng-template>

      <div class="flex flex-col gap-2">

        <label class="text-lg font-bold">Проверенные поставщики</label>

        <label class="text-lg max-w-150">Все поставщики проходят проверку для подтверждения подлинности предложений и
          надежности</label>

      </div>

    </p-card>

    <p-card>

      <ng-template #title>

        <div class="p-5">

          <i class="pi pi-chart-line" style="font-size: 2rem"></i>

        </div>

      </ng-template>

      <div class="flex flex-col gap-2">

        <label class="text-lg font-bold">Актуальные предложения</label>

        <label class="text-lg max-w-150">Регулярное обновление базы данных и своевременное удаление неактуальных
          предложений</label>

      </div>

    </p-card>

  </div>

</section>
