<form [formGroup]="textSearchForm" (ngSubmit)="onSubmit()">
  <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Поиск</label>
  <div class="flex flex-row gap-1">
    <input [formControlName]="'text'" type="text"
           placeholder="Поиск по содержанию, например город, артикул, название запчасти и т.д."
           class="mt-1 block w-full px-3 py-2 bg-white dark:bg-gray-700 border border-gray-300
                  dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500
                  focus:border-blue-500 sm:text-sm text-gray-900 dark:text-gray-100">
    <p-button (onClick)="search()" [type]="'button'" [size]="'small'" [rounded]="'true'" [icon]="'pi pi-search'"/>
    <p-button (onClick)="onReset()" [type]="'button'" [size]="'small'" [rounded]="'true'" [icon]="'pi pi-times'"/>
  </div>
</form>
