.head-images-container {
  display: flex;
  flex-direction: row;
}

.head-background {
  position: relative;
  width: 33.33%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.2);
}


.background-1 {
  background-image: url('./main_page_header_1.jpg');
}

.background-2 {
  background-image: url('./main_page_header_2.jpg');
}

.background-3 {
  background-image: url('./main_page_header_3.jpg');
}
