<div class="max-w-4xl mx-auto p-6 space-y-8">
  <div class="bg-gray-50 dark:bg-gray-800 rounded-lg p-4 shadow-sm">
    <div class="flex flex-wrap gap-4 items-end">
      <div class="flex flex-wrap gap-3 flex-1 min-w-[300px]">

        <app-name-filter-input [name_setter]="currentNameFilter" (onNameFilterChange)="changeNameFilter($event)"/>

        <app-email-filter-input [email_setter]="currentEmailFilter" (onEmailInputChange)="changeEmailFilter($event)"/>

        <app-role-filter-select [role_setter]="currentRoleFilter" (rolesFetched)="acceptRoles($event)"
                                (roleSelected)="changeRoleFilter($event)"/>
      </div>

      <div>
        <app-add-user-button (userAddClicked)="handleAddUserClick()"/>
      </div>
    </div>
  </div>


  <div class="space-y-3">
    @for (user of _users(); track user.id) {
      <app-user-card [user_setter]="user" (editUserClick)="changeUserToEdit($event)"/>
    }
    @if (_users().length === 0) {
      <div class="text-center py-12 bg-white dark:bg-gray-800 rounded-xl border border-gray-200 dark:border-gray-700">
        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
        </svg>
        <h3 class="mt-2 text-sm font-medium text-gray-900 dark:text-gray-100">Пользователи не найдены</h3>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Возможно кроме Вас никого больше нет в системе, или вы
          выбрали неудачные фильтры.</p>
      </div>
    }
  </div>
</div>
<app-add-user-dialog [visible_setter]="isAddingUser" [roles]="availableRoles" (onClose)="handleAddUserFormClose()"/>
<app-edit-user-dialog *ngIf="userToEdit !== null" [visible_setter]="userToEdit !== null" [roles_setter]="availableRoles"
                      [edit_user_setter]="userToEdit"
                      (userEditApplied)="changeUserToEdit($event)"/>
