<p-dialog header="Изменение пароля" [modal]="true" [visible]="visible()">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Текущий пароль</label>
      <input [formControlName]="'password'" pInputText type="password" class="flex-auto" autocomplete="off"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="username" class="font-semibold w-24">Новый пароль</label>
      <input [formControlName]="'newPassword'" pInputText type="password" class="flex-auto" autocomplete="off"/>
    </div>
    <app-password-rules/>
    <div class="flex justify-end gap-2 my-5">
      <p-button [type]="'button'" label="Отмена" severity="secondary" (click)="cancel()"/>
      <p-button [type]="'submit'" label="Изменить"/>
    </div>
  </form>
</p-dialog>
<p-toast [position]="'bottom-right'"/>
