<app-admin-panel-menu-navigation (menuSelected)="handleMenuSelected($event)"/>
@switch (currentMenuSection()) {
  @case ('parsersManagement') {
    <p-scroll-panel styleClass="h-196">
      <app-admin-panel-parsers-menu/>
    </p-scroll-panel>
  }
  @case ('analytics') {
    <p-scroll-panel styleClass="h-196">
      <app-admin-panel-analytics-menu/>
    </p-scroll-panel>
  }
  @case ('mailSenderManagement') {
    <app-admin-panel-mailing-service-menu/>
  }
  @default {
    <div>Not found</div>
  }
}
