<section class="flex flex-col gap-1">
  <p-panel class="w-full h-full sticky-panel">
    <ng-template #header>
      <div class="flex flex-row gap-5 font-bold">
        <a class="-my-1">{{ 'Категория' }}</a>
        <p-divider [layout]="'vertical'" styleClass="h-10! m-0! gap-0! p-0! -my-3.5!"/>
        <a class="-my-1">{{ categorySignal().name }}</a>
        <p-divider [layout]="'vertical'" styleClass="h-10! m-0! gap-0! p-0! -my-3.5!"/>
        <a class="-my-1">{{ 'Бренд' }}</a>
        <p-divider [layout]="'vertical'" styleClass="h-10! m-0! gap-0! p-0! -my-3.5!"/>
        <a class="-my-1">{{ brandSignal().name }}</a>
        <p-divider [layout]="'vertical'" styleClass="h-10! m-0! gap-0! p-0! -my-3.5!"/>
        <a class="-my-1">Каталог</a>
        <p-divider [layout]="'vertical'" styleClass="h-10! m-0! gap-0! p-0! -my-3.5!"/>
      </div>
    </ng-template>
    <app-search-bar (subbmitedSearchTerm)="acceptTextSearch($event)"/>
  </p-panel>
  <section class="flex">
    <div class="w-1/4">
      <app-transport-items-filter-form/>
    </div>
    <div class="w-3/4 ml-0.75">
      <app-transport-items-list [isLoading]="isLoading()" [items]="advertisementsSignal()"/>
    </div>
  </section>
</section>
<app-transport-item-photo-gallery-dialog
  *ngIf="selectedAdvertisement()"
  [visibility]="selectedAdvertisement() !== null"
  (onClose)="onAdvertisementPhotoViewClose()"
/>
