.items-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.5rem;
}

@media (max-width: 1200px) {
  .items-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 992px) {
  .items-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 576px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }
}

@media (max-width: 400px) {
  .items-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.5rem;
  }
}
