<p-dialog [visible]="visibilitySignal()" maskStyleClass="backdrop-blur-sm">
  <ng-template #headless>
    <div class="flex flex-col gap-1.5 p-5">
      <span class="text-lg font-bold select-none">Инструкция по настройке Google почтового отправителя:</span>
      <div>
        <span class="select-none">Шаг 1. Создайте почтовый ящик на сервисе: </span>

        <a class="select-none font-bold underline cursor-pointer"
           (click)="linkClick('https://mail.google.com')">https://mail.google.com</a>

        <span class="select-none"> - это будет почтой отправителя.</span>
      </div>
      <div>
        <span class="select-none">Шаг 2. Создайте ключ для внешего приложения: </span>

        <a class="select-none font-bold underline cursor-pointer"
           (click)="linkClick('https://myaccount.google.com/apppasswords')">https://myaccount.google.com/apppasswords</a>

        <span class="select-none"> - Это будет SMTP ключом отправителя.</span>
      </div>
      <div>
        <span class="select-none">Шаг 3. Оформите форму добавления почтового отправителя на странице, используя почту и ключ.</span>
      </div>
      <div>
        <p-button [outlined]="'true'" [label]="'OK'" (onClick)="close()"/>
      </div>
    </div>
  </ng-template>
</p-dialog>
