<section class="grid grid-cols-2 gap-10 my-40!">

  <p-panel>

    <ng-template #header>

      <label class="text-2xl font-bold select-none">Создайте заявку на поиск техники</label>

    </ng-template>

    <div class="flex flex-col gap-1">

      <label class="text-lg font-bold select-none">
        Вы можете оформить форму заявки в личном кабинете для поиска необходимой техники под Ваши задачи.
      </label>

      <label class="text-lg font-bold select-none">
        Агрегатор попробует найти необходимое предложение и отправит его Вам по электронной почте
      </label>

      <div class="flex flex-row gap-40 items-center justify-center">
        <img class [ngSrc]="'images/excavator.svg'" [width]="300" [height]="300" [alt]="'img'">
        <img class [ngSrc]="'images/mailbox.svg'" [width]="300" [height]="300" [alt]="'img'">
      </div>

    </div>

  </p-panel>

  <p-panel>

    <ng-template #header>

      <label class="text-2xl font-bold select-none">Форма регистрации</label>

    </ng-template>

    <div class="flex flex-col gap-5.5">

      <input [placeholder]="'Электронная почта'" pInputText/>

      <input [placeholder]="'Название пользователя'" pInputText/>

      <input [placeholder]="'Пароль'" [type]="'password'" pInputText/>

      <div class="flex flex-row gap-1">
        <p-button [label]="'Зарегистрироваться'" [size]="'small'"/>
      </div>

      <div class="flex flex-col gap-1">

        <label class="select-none">Для существующих пользователей</label>

        <div class="flex flex-col gap-3">

          <input [placeholder]="'Электронная почта'" pInputText/>

          <input [placeholder]="'Пароль'" [type]="'password'" pInputText/>

          <div class="flex flex-row gap-1">
            <p-button [label]="'Авторизоваться'" [size]="'small'"/>
            <p-button [label]="'Восстановить пароль'" [size]="'small'" [outlined]="true"/>
          </div>

        </div>

      </div>

    </div>

  </p-panel>

</section>
