<p-panel [header]="'Характеристики:'">
  <p-scroll-panel styleClass="h-195.5 overflow-auto">
    <div class="flex flex-col gap-1">
      <p-panel [header]="'Характеристики объявления:'">
        <div class="flex flex-col gap-0.5">
          <div>
            <label>Цена: </label>
            <label>{{
                advertisement().priceValue + " Р." + " " + advertisement().priceExtra
              }}</label>
          </div>
          <div>
            <label>Адрес: </label>
            <label>{{ advertisement().geoName }}</label>
          </div>
          <p-button
            [size]="'small'"
            [outlined]="true"
            [label]="'Перейти на источник'"
            (onClick)="navigateOnSourceClick($event)"
          >
            <a [href]="advertisement().sourceUrl"> </a>
          </p-button>
        </div>
      </p-panel>
      <p-panel [header]="'Характеристики транспорта:'">
        <div class="flex flex-col gap-0.5">
          @for (ctx of advertisement().characteristics; track ctx.name) {
            <div>
              <label>{{ ctx.name + ": " }}</label>
              <label>{{ ctx.value }}</label>
            </div>
          }
        </div>
      </p-panel>
    </div>
  </p-scroll-panel>
</p-panel>
