<app-vehicles-catalogue-selection-bar [kind_setter]="currentKind" [brand_setter]="currentBrand"
                                      (goToCatalogueClicked)="navigateToCatalogue()"/>

<div class="my-5"></div>

<app-vehicle-kinds-select-page-panel (kindSelected)="acceptSelectedVehicleKind($event)"/>
<app-vehicle-brands-select-page-panel *ngIf="kindSelected"
                                      (selectedBrand)="acceptSelectedVehicleBrand($event)"
                                      [kind_setter]="currentKind"/>
<app-go-to-vehicle-catalogue-dialog *ngIf="shouldOpenGoToCatalogueSelectDialog"
                                    [visibility_setter]="shouldOpenGoToCatalogueSelectDialog"
                                    (goToCatalogueClicked)="navigateToCatalogue()"
                                    [brand_setter]="currentBrand"
                                    [kind_setter]="currentKind"
                                    (changeParameterClicked)="acceptChangeParametersClick()"/>
<app-adaptive-toast/>
