<section class="flex flex-col my-1 items-center justify-center">
  <p-panel>
    <ng-template #header>
      <label class="text-2xl select-none text-center">Авторизация</label>
    </ng-template>
    @if (isLoading()) {
      <div class="flex flex-col items-center justify-center min-h-50 min-w-100">
        <p-progressSpinner/>
      </div>
    } @else {
      @if(!isSuccess()) {
        <form (ngSubmit)="authSubmit()" [formGroup]="authForm" class="flex flex-col gap-2 min-w-100">
          <input [formControlName]="'email'" [pSize]="'small'" [placeholder]="'Электронная почта'" [fluid]="'true'" pInputText />
          <label class="text-sm font-bold select-none">Или название учётной записи.</label>
          <input [formControlName]="'userName'" [pSize]="'small'" [placeholder]="'Название учетной записи'" [fluid]="'true'" pInputText />
          <input [formControlName]="'password'" [pSize]="'small'" [placeholder]="'Пароль'" [fluid]="'true'" [type]="'password'" pInputText />
          <p-button [label]="'Авторизоваться'" [fluid]="'true'" [type]="'submit'" />
        </form>
      } @else {
        <div class="flex flex-col items-center justify-center min-h-45 min-w-100">
          <label class="text-2xl select-none text-center w-full">Авторизация успешна.</label>
          <i class="pi pi-check-circle" style="font-size: 5rem"></i>
        </div>
        <p-button [label]="'На главную'" [fluid]="true" [size]="'small'" [outlined]="'true'" [routerLink]="''"/>
      }
    }
  </p-panel>
</section>
<p-toast [position]="'bottom-right'" />
