<app-dialog-container [visible]="visibility">
  <app-dialog-content>
    <app-dialog-header [header]="'Характеристики'" />
    <p-select
      [style]="{ color: '#FACC15' }"
      [options]="characteristics"
      [fluid]="true"
      optionLabel="name"
      placeholder="Выберите характеристику"
      [emptyMessage]="'Характеристик нет.'"
      [size]="'small'"
      class="!w-120"
      (onChange)="select($event)"
    ></p-select>
    @for (characteristic of internalCharacteristics; track characteristic.name)
    {
    <div class="flex flex-row gap-1 justify-between text-sm items-center">
      <p-button
        [icon]="'pi pi-trash'"
        size="small"
        (onClick)="removeCharacteristic(characteristic)"
      />
      <label>{{ characteristic.name }}</label>
      <app-dialog-input
        [placeHolder]="'Введите значение'"
        [(valueBind)]="characteristic.value"
      />
    </div>
    }
  </app-dialog-content>
  <app-dialog-footer>
    <p-button
      label="Очистить"
      [text]="true"
      [fluid]="'true'"
      styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
      class="w-full"
      (onClick)="clear($event)"
    />
    <p-button
      label="Применить"
      [text]="true"
      [fluid]="'true'"
      styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
      class="w-full"
      (onClick)="submit($event)"
    />
    <p-button
      label="Закрыть окно"
      [text]="true"
      [fluid]="'true'"
      styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
      class="w-full"
      (onClick)="close($event)"
    />
  </app-dialog-footer>
</app-dialog-container>
