<p-toolbar>
  <ng-template #start>
    <section class="flex flex-row gap-4 items-center">
      <p-button [style]="{color:'black'}" [size]="'small'" [label]="'Поменять навигацию'"
                (click)="turnChangeNavigationDialogVisibility()"/>
      <label class="inline-flex gap-1">
        <span class="font-bold">Тип техники:</span>
        <span class="underline">{{ currentKindName }}</span>
      </label>
      <label class="inline-flex gap-1">
        <span class="font-bold">Марка:</span>
        <span class="underline">{{ currentBrandName }}</span>
      </label>
      <p-select (onChange)="onModelSelect($event)" [options]="models" [optionLabel]="'name'" [placeholder]="'Модели'">

      </p-select>
    </section>
  </ng-template>
  <ng-template #end>
    <ng-content>

    </ng-content>
  </ng-template>
</p-toolbar>
<app-vehicles-select-navigation-change-dialog *ngIf="changeNavigationDialogVisibility"
                                              (navigationParamsChange)="acceptNavigationChange($event)"
                                              [visibility_setter]="changeNavigationDialogVisibility"
                                              [current_brand_setter]="currentBrand"
                                              [current_kind_setter]="currentKind"
                                              (dialogClosed)="turnOffChangeNavigationDialogVisibility()"/>
