<p-toolbar>
  <ng-template #start>
    <section class="flex flex-row gap-4 items-center">
      <p-button [size]="'small'" [label]="'Поменять навигацию'" (click)="turnChangeNavigationDialogVisibility()" />
      <label class="inline-flex gap-1">
        <span class="font-bold">Тип техники:</span>
        <span class="underline">{{ currentKindName }}</span>
      </label>
      <label class="inline-flex gap-1">
        <span class="font-bold">Марка:</span>
        <span class="underline">{{ currentBrandName }}</span>
      </label>
      <label class="inline-flex gap-1">
        <span class="font-bold">Модель:</span>
        <span class="underline">{{ currentModelName }}</span>
      </label>
    </section>
  </ng-template>
  <ng-template #end>
    <p-select
      [options]="regions"
      [optionLabel]="'name'"
      [placeholder]="'Регион'"
      class="text-xs sm:text-xs md:text-base"
    >
      <ng-template let-region #item>
        <label class="text-xs sm:text-xs md:text-base">
          {{ region.name + ' ' + region.kind }}
        </label>
      </ng-template>
    </p-select>
  </ng-template>
</p-toolbar>
<app-vehicles-select-navigation-change-dialog *ngIf="changeNavigationDialogVisibility"
                                              (navigationParamsChange)="acceptNavigationChange($event)"
                                              [visibility_setter]="changeNavigationDialogVisibility"
                                              [current_brand_setter]="currentBrand"
                                              [current_kind_setter]="currentKind"
                                              [current_model_setter]="currentModel"
                                              (dialogClosed)="turnOffChangeNavigationDialogVisibility()" />
