<p-panel [header]="'Управление почтовыми провайдерами'" styleClass="my-1.5!">
  <div class="flex flex-col gap-1 items-center justify-center">

    <label class="text-lg select-none font-bold">Панель управления почтовым сервисом.</label>
    <label class="text-lg select-none">Вы можете сконфигурировать несколько почтовых SMTP провайдеров: Google, Mail Ru,
      Yandex.</label>

    <div class="flex flex-col gap-1 items-center justify-center my-3.5">

      <label class="text-sm select-none">Нажав на иконку сервиса, можно открыть окно с инструкцией о
        подключении.</label>

      <div class="inline-flex flex-row gap-15 my-4.5">

        <img class="cursor-pointer" [ngSrc]="'mailing_images/google_mail.svg'" [alt]="'img'" [height]="48" [width]="48"
             (click)="openGoogleInstructions.emit()"/>

        <img class="cursor-pointer" [ngSrc]="'mailing_images/mailru_mail.svg'" [alt]="'img'" [height]="48" [width]="48"
             (click)="openMailRuInstructions.emit()"/>
        
        <img class="cursor-pointer" [ngSrc]="'mailing_images/yandex_mail.svg'" [alt]="'img'" [height]="48" [width]="48"
             (click)="openYandexInstructions.emit()"/>

      </div>
    </div>
  </div>
</p-panel>
