<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-8">
  <div class="flex flex-row justify-between">
    <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-200 mb-6">Популярные марки техники</h2>
    <label (click)="navigateAllClick()"
           class="text-sm font-bold text-gray-800 dark:text-gray-200 mb-6 underline cursor-pointer">Все марки</label>
  </div>
  <div class="cursor-pointer grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    @for (brand of brands; track brand.name) {
      <div
        (click)="navigateByBrand(brand)"
        class="flex flex-col items-center p-4 bg-gray-50 dark:bg-gray-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600 transition-colors">
        <div class="w-16 h-16 flex items-center justify-center bg-purple-100 dark:bg-purple-900 rounded-full mb-2">
          <svg class="w-8 h-8 text-purple-600 dark:text-purple-400" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 2L4 5v6.09c0 5.05 3.41 9.76 8 10.91 4.59-1.15 8-5.86 8-10.91V5l-8-3zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2z"/>
          </svg>
        </div>
        <span
          class="text-sm font-medium text-center dark:text-gray-200">{{ brand.name }}</span>
      </div>
    }
  </div>
</div>
