<section class="block">
  <app-vehicles-catalogue-toolbar
    [kind_id_setter]="currentKindId"
    [brand_id_setter]="currentBrandId"
    (navigationChanged)="acceptNavigationChange($event)"
    (modelSelected)="acceptModelSelect($event)"
  >
    <app-vehicles-catalogue-regions-select [kind_id_setter]="currentKindId" [brand_id_setter]="currentBrandId"
                                           (regionChange)="acceptRegionChange($event)"/>
  </app-vehicles-catalogue-toolbar>
  <div class="grid grid-cols-12 row-span-1 gap-1 p-1">
    <div class="col-span-12 md:col-span-3">
      <app-vehicle-characteristics-form
        [kind_id_setter]="currentKindId"
        [brand_id_setter]="currentBrandId"
        (characteristicsListChange)="acceptCharacteristicsList($event)"
      >
        <app-vehicles-catlaogue-prices-filter (priceFilterChanged)="acceptPriceFilterChange($event)"/>
      </app-vehicle-characteristics-form>
    </div>
    <div class="col-span-12 md:col-span-9">
      <p-panel [styleClass]="'custom-panel'">
        <ng-template #header>
          <app-vehicles-catalogue-aggregated-data-grid [kind_id_setter]="currentKindId"
                                                       [brand_id_setter]="currentBrandId"
                                                       [query_setter]="aggregatedDataQuery"
                                                       (currentItemsCountChanged)="acceptItemsCountChange($event)"/>
        </ng-template>
        <app-vehicles-data-view [kind_id_setter]="currentKindId"
                                [brand_id_setter]="currentBrandId"
                                [query_setter]="vehiclesQuery"
                                (textSearchChange)="acceptTextSearch($event)">
          <p-paginator *ngIf="currentItemsCount > 20" [rows]="20" [totalRecords]="currentItemsCount"
                       (onPageChange)="acceptPageChange($event)"/>
        </app-vehicles-data-view>
      </p-panel>
    </div>
  </div>
</section>
