::ng-deep .custom-panel .p-panel-content {
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .custom-panel .p-panel-header {
  margin: 0 !important;
  padding: 0 !important;
}

::ng-deep .custom-panel {
  margin: 0 !important;
  padding: 0 !important;
}
