<section class="flex flex-col gap-1 items-center justify-center my-1">
  <p-panel styleClass="min-h-50!">
    @if (isLoading) {
      <ng-template #header>
        <label class="text-2xl select-none text-center w-full">{{
          status
        }}</label>
      </ng-template>
      <div class="flex flex-col gap-5 items-center justify-center">
        <p-progressSpinner />
      </div>
    }
    @if (!isLoading && success) {
      <ng-template #header>
        <label class="text-2xl select-none text-center w-full">{{
          status
        }}</label>
      </ng-template>
      <div class="flex flex-col gap-5 items-center justify-center">
        <i class="pi pi-check-circle" style="font-size: 5rem"></i>
        <p-button
          [label]="'На главную'"
          [fluid]="true"
          [size]="'small'"
          [outlined]="'true'"
          [routerLink]="''"
        />
      </div>
    }
    @if (!isLoading && !success) {
      <ng-template #header>
        <label class="text-2xl select-none text-center w-full">{{
          status
        }}</label>
      </ng-template>
      <div class="flex flex-col gap-5 items-center justify-center">
        <i class="pi pi-minus-circle" style="font-size: 5rem"></i>
        <label class="text-sm select-none">{{ error }}</label>
        <p-button
          [label]="'На главную'"
          [fluid]="true"
          [size]="'small'"
          [outlined]="'true'"
          [routerLink]="''"
        />
      </div>
    }
  </p-panel>
</section>
<p-toast [position]="'bottom-right'"></p-toast>
