<nav class="header-layout bg-primary-400 shadowed p-0.5">
  <div class="header-logo-part">
    <p-button
      [icon]="'pi pi-bars'"
      [fluid]="true"
      [size]="'large'"
      label="Aggregator"
      (onClick)="onMenuButtonClick($event)"
    />
  </div>
  <div class="header-menu-part">
    <!-- <p-button
      [fluid]="true"
      [size]="'large'"
      [icon]="'pi pi-user-plus'"
      [label]="'Регистрация'"
    />
    <p-button
      [fluid]="true"
      [size]="'large'"
      [icon]="'pi pi-sign-in'"
      [label]="'Авторизация'"
    />
    <p-button
      [fluid]="true"
      [size]="'large'"
      [icon]="'pi pi-user'"
      [label]="'Профиль'"
    /> -->
  </div>
</nav>
