<div class="flex flex-row justify-between gap-100">
  <img class="relative" [ngSrc]="getAppropriateIcon()" [alt]="'img'" [height]="64" [width]="64"/>
  <div>

    <label class="text-sm font-bold select-none">Действия: </label>

    <div class="flex flex-col gap-1">

      <div class="flex flex-row justify-between gap-5 items-center">
        <label class="text-sm font-bold select-none">Отправить проверочное сообщение</label>

        <p-button [size]="'small'" [outlined]="'true'" [icon]="'pi pi-envelope'" (click)="onPingClicked($event)"/>
      </div>

      <div class="flex flex-row justify-between gap-5 items-center">
        <label class="text-sm font-bold select-none">Повысить приоритет</label>

        <p-button [size]="'small'" [outlined]="'true'" [icon]="'pi pi-arrow-up'"
                  (onClick)="onPriorityUpClicked($event)"/>
      </div>

      <div class="flex flex-row justify-between gap-5 items-center">
        <label class="text-sm font-bold select-none">Понизить приоритет</label>

        <p-button [size]="'small'" [outlined]="'true'" [icon]="'pi pi-arrow-down'"
                  (onClick)="onPriorityDownClicked($event)"/>
      </div>

      <div class="flex flex-row justify-between gap-5 items-center">
        <label class="text-sm font-bold select-none">{{ senderSignal().isActive ? 'Отключить' : 'Включить' }}</label>

        <p-button [size]="'small'" [outlined]="'true'"
                  [icon]="senderSignal().isActive ? 'pi pi-lock' : 'pi pi-lock-open' "
                  (onClick)="onTurnClicked($event)"/>
      </div>

      <div class="flex flex-row justify-between gap-5 items-center">

        <label class="text-sm font-bold select-none">Удалить</label>
        <p-button [size]="'small'" [outlined]="'true'" [icon]="'pi pi-trash'" (onClick)="onRemoveClicked($event)"/>

      </div>

    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6 my-3">

  <div class="flex flex-row md:flex-col justify-between items-start gap-2">
    <div>
      <span class="font-medium text-secondary text-sm select-none">{{ senderSignal().email }}</span>
      <div
        class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2 select-none">{{ senderSignal().serviceName }}
      </div>
    </div>
  </div>

  <div>
    <span class="font-medium text-secondary text-sm select-none">Приоритет:</span>
    <div
      class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2 select-none">{{ senderSignal().priority }}
    </div>
  </div>

  <div>
    <span class="font-medium text-secondary text-sm select-none">Статус:</span>
    <div
      class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2 select-none">{{ senderSignal().status }}
    </div>
  </div>

  <div>
    <span class="font-medium text-secondary text-sm select-none">Активен:</span>
    <div
      class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2 select-none">{{ senderSignal().isActive ? 'Да' : 'Нет' }}
    </div>
  </div>

</div>
<p-divider [layout]="'horizontal'"/>
