<section class="block w-full">
  <p-scroll-panel styleClass="h-225">
    <app-main-page-head/>
    <app-main-page-categories-block [categories]="statisticalCategories()"/>
    <app-main-page-analytics-block [categories]="statisticalCategories()"/>
    <app-main-page-not-found-block [isAuthLoading]="isAuthLoadingSignal()"
                                   [isAuthorized]="isAuthorizedSignal()"
                                   (userRegisteredEvent)="acceptUserRegistration($event)"
                                   (userAuthEvent)="acceptUserAuthorization($event)"/>
    <app-main-page-advantages-block/>
  </p-scroll-panel>
</section>
<p-toast [position]="'bottom-right'" />
