:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.characteristics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.characteristic-item {
  display: inline-flex;
  gap: 1rem;
  font-size: 1rem;
}

.sticky-panel {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}