<div class="max-w-4xl mx-auto p-6 space-y-8">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-2">Каталог запчастей</h1>
  </div>
  <div class="mb-6">
    <app-spares-search-input (onTextSearchSubmit)="acceptTextSearch($event)"/>
  </div>
  <div class="space-y-4">
    <div *ngFor="let spare of spares"
         class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-md transition duration-200">
      <div class="flex flex-col md:flex-row md:items-start gap-4">
        <app-spare-photo [spare_setter]="spare"/>
        <app-spare-content [spare_setter]="spare">
          <app-spare-title [spare_setter]="spare"/>
          <app-spare-details [spare_setter]="spare"/>
          <app-spare-source [spare_setter]="spare"/>
        </app-spare-content>
      </div>
    </div>
    <p-paginator *ngIf="totalCount > 50" [rows]="50" [totalRecords]="totalCount"
                 (onPageChange)="acceptPageChange($event)"/>
  </div>

</div>
