<app-dialog-container [visible]="visibility">
  <p-toast />
  <app-dialog-content>
    <app-dialog-header [header]=getProfileEditingHeader() />
    <p-tabs [value]="0">
      <p-tablist>
        <p-tab [value]="0">Состояние</p-tab>
        <p-tab [value]="1">Ссылки</p-tab>
      </p-tablist>
      <p-tabpanels class="!bg-transparent">
        <p-tabpanel [value]="0">
          <app-profile-data-tab-content
            [profileCopy]="profileCopy"
            (profileChanged)="handleProfileDataChange($event)"
          />
        </p-tabpanel>
        <p-tabpanel [value]="1">
          <app-profile-links-tab-content
            [profile]="profileCopy"
            (profileChanged)="handleProfileDataChange($event)"
          />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </app-dialog-content>
  <app-dialog-footer>
    <p-button label="Сохранить"
              [text]="true"
              [fluid]="true"
              styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
              class="w-full"
              (onClick)="submitProfileChanges()"
    />
    <p-button label="Закрыть"
              [text]="true"
              [fluid]="true"
              styleClass="w-full !text-primary-50 !border !border-white/30 hover:!bg-white/10"
              class="w-full"
              (onClick)="closeClick()"
    />
  </app-dialog-footer>
</app-dialog-container>
