::ng-deep .p-tablist-content .p-tablist-tab-list {
  background-color: transparent !important;
  border: none !important;
}

.p-tab {
  color: white;
}

.p-tab-active {
  color: #FACC15 !important;
}
