<p-toast [position]="'bottom-right'" />
<p-confirm-popup />
@if(viewModel.selectedProfile && viewModel.selectedParser) {
  <section class="grid-cols-2">
    <div class="flex flex-col gap-4 items-start">
      <div class="flex flex-col gap-1">
        <div class="flex flex-row gap-1 items-center">
          <label>Наименование:</label>
          <label>{{ getProfileName() + '.' }}</label>
        </div>
        <div class="flex flex-row gap-1 items-center">
          <label>Повторение:</label>
          <label>{{ getRepeatEveryHours() }}</label>
        </div>
        <div class="flex flex-row gap-1 items-center">
          <label>Состояние:</label>
          <label>{{ getProfileState() + '.' }}</label>
        </div>
        <div class="flex flex-row gap-1 items-center">
          <label>Число ссылок:</label>
          <label>{{ getLinksTextInformation() }}</label>
        </div>
      </div>
      <div class="flex flex-col gap-1 items-start">
        <div class="flex flex-row gap-1 items-start">
          <p-button
            [icon]="'pi pi-wrench'"
            [label]="'Настроить профиль'"
            [size]="'small'"
            (onClick)="setCustomizationDialogOpen()"
          />
          <p-button
            [icon]="'pi pi-trash'"
            [label]="'Удалить профиль'"
            [size]="'small'"
            [severity]="'danger'"
            (onClick)="removeButtonClick($event)"
          />
        </div>
      </div>
    </div>
  </section>
  <app-profile-customization-dialog
    *ngIf="isCustomizationDialogOpen"
    [visibility]="isCustomizationDialogOpen"
    (onClose)="setCustomizationDialogClose()"
  />
}
@else {
  <div class="flex flex-row w-full justify-center items-center">
    <label>Профиль не выбран</label>
  </div>
}
