<app-dialog-container [visible]="visibility">
  <app-dialog-content>
    <app-dialog-header [header]="'Регионы'"/>
  </app-dialog-content>
  <p-select [options]="geoInformations" [optionLabel]="'details'" [placeholder]="'Выбрать регион'" class="w-100"
            (onChange)="citySelected($event)"/>
  <app-dialog-footer>
    <p-button [size]="'small'" [fluid]="true" [label]="'Закрыть'" (onClick)="visibilityChanged.emit(false)"/>
    <p-button [size]="'small'" [fluid]="true" [label]="'Выбрать любой'" (onClick)="selectAnyCity($event)"/>
  </app-dialog-footer>
</app-dialog-container>
