<form (ngSubmit)="submitAuthorization()" [formGroup]="userAuthFormGroup" class="flex flex-col gap-3 my-2">
  <label class="select-none">Для существующих пользователей</label>
  <input [formControlName]="'email'" [placeholder]="'Электронная почта'" pInputText/>
  <input [formControlName]="'password'" [placeholder]="'Пароль'" [type]="'password'" pInputText/>

  <div class="flex flex-row gap-1">
    <p-button [type]="'submit'" [label]="'Авторизоваться'" [size]="'small'"/>
    <p-button [label]="'Восстановить пароль'" [size]="'small'" [outlined]="true"/>
  </div>
</form>
