<section class="flex flex-col">
  <div class="flex flex-col items-center justify-center">
    <div class="flex flex-row gap-1">
      <app-admin-mailing-service-editing-panel (createSenderSubmitted)="onAddNewSenderSubmit($event)"/>
      <app-admin-panel-mailing-service-title (openGoogleInstructions)="googleInstructionsOpen()"
                                             (openYandexInstructions)="yandexInstructionsOpen()"
                                             (openMailRuInstructions)="mailRuInstructionsOpen()"/>
    </div>
    <app-admin-panel-mailing-service-senders-list
      [isLoading]="isLoadingSignal()"
      [senders]="mailingSendersSignal()"
      (pingClicked)="onMailingSenderPing($event)"
      (priorityUpClicked)="onMailingSenderPriorityUp($event)"
      (priorityDownClicked)="onMailingSenderPriorityDown($event)"
      (turnClicked)="onMailingSenderActivityTurn($event)"
      (removeClicked)="onMailingSenderRemove($event)"
    />
  </div>
</section>

<p-toast [position]="'bottom-right'"/>

<p-confirm-dialog/>

<app-admin-mailing-service-google-instructions [isVisible]="googleInstructionsOpened()"
                                               (closed)="googleInstructionsClose()"/>

<app-admin-mailing-service-yandex-instructions [isVisible]="yandexInstructionsOpened()"
                                               (closed)="yandexInstructionsClose()"/>

<app-admin-mailing-service-mailru-instructions [isVisible]="mailRuInstructionsOpened()"
                                               (closed)="mailRuInstructionsClose()"/>
